# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Mac
.DS_Store

# Logs
*.log

# PDFs
*.pdf

# Ideas
.idea/

# Test Data
test_data/

# Scripts
scripts/

# Testing Dev
testing_dev

# PID
*.pid

# Model Files
model_files/
model_files_emotion/