PORT=8100
DEBUG=false

# Hugging Face Auth (Private Models)
HF_TOKEN=put_your_key_here

# Models
FACE_DETECTION_MODEL_ID=20-team-daeng-ddang-ai/dog-detection
FACE_EMOTION_MODEL_ID=20-team-daeng-ddang-ai/dog-emotion-classification

# Model update checker
CHECK_MODEL_UPDATE_ON_START=true
FORCE_REFRESH_MODELS=false
MODEL_UPDATE_CHECK_INTERVAL_SECONDS=86400
FACE_DETECTION_REVISION_FILE=models/.face_detection_revision
FACE_EMOTION_REVISION_FILE=models/.face_emotion_revision
