--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
transformers
huggingface_hub
opencv-python-headless
pillow
numpy
fastapi
uvicorn
requests
python-multipart
uvloop
httpx
python-dotenv